<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
    <update id="updateNumberByUserId">
        update  shopping_cart set number=#{number}
        <where>
            <if test=" dishId!=null and dishId!=''  ">dish_id=#{dishId}</if>
            <if test=" setmealId!=null and setmealId!='' ">and setmeal_id=#{setmealId}</if>
            <if test=" dishFlavor!=null and dishFlavor!='' ">and dish_flavor=#{dishFlavor}</if>
            <if test=" userId!=null ">and user_id=#{userId}</if>
        </where>
    </update>
    <delete id="deleteByUserIdAndDishIdOrSetmealId">
        delete from shopping_cart
        <where>
            <if test=" dishId!=null and dishId!=''  ">dish_id=#{dishId}</if>
            <if test=" setmealId!=null and setmealId!='' ">and setmeal_id=#{setmealId}</if>
            <if test=" dishFlavor!=null and dishFlavor!='' ">and dish_flavor=#{dishFlavor}</if>
            <if test=" userId!=null ">and user_id=#{userId}</if>
        </where>
    </delete>


    <select id="queryDishOrSetmealId" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test=" dishId!=null ">dish_id=#{dishId}</if>
            <if test=" setmealId!=null ">and setmeal_id=#{setmealId}</if>
            <if test=" userId!=null ">and user_id=#{userId}</if>
            <if test=" dishFlavor!=null and dishFlavor!='' ">and dish_flavor=#{dishFlavor}</if>
        </where>
    </select>
</mapper>
